**/*.pyc
**/*.tgz
**/*.tgz.prov
**/secrets.yaml
*.tar.gz
.acceptance/
.chartmuseum.log
.chartstorage/
.cover/
.helm/
.idea/
.latest.txt
.robot/
.stable.txt
.test/
.venv/
.vscode/
bin/
goviz.png
index.yaml
mirror/
testbin/
cmd/chartmuseum/debug
vendor
_dist/
.DS_Store
